body{
  background: rgba(196, 243, 196, 0.32);
}

/* Deskripsi */
.mt1{
  margin-top: 76px;
}

.deskripsi{
  margin-bottom: 0;
}

.deskripsi .responsive-img{
  border-radius: 30px;
}

.deskripsi .tipe1{
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Mukta Vaani';
  font-size: 40px;

  color: #123812;
}

.deskripsi .tipe2,
.alamat .tipe3,
.opsibank .tipe3{
  font-family: 'Mukta Vaani';
  font-size: 20px;

  color: #000000;
}
/* End Deskripsi */

/* Alamat */
.alamat .row{
  margin-bottom: 0;
}

.fontselect,
.fontselect input{
  font-family: 'Mukta Vaani'!important;
}
/* End Alamat */

/* Opsi Bank */
.opsibank .gambar img{
  height: 44px;
}

.opsibank .gambar::before,
.opsibank .gambar::after{
  margin-top: 15px;
}

.opsibank .capt1,
.opsibank .capt2{
  font-family: 'Roboto';
  font-size: 18px;

  color: #000000;
}

.opsibank .rightbutton{
  float: right;
  width: 177px;
  height: 52px;
  background: rgba(21, 123, 18, 0.805827);
  padding: 0 !important;

  font-family: 'Mukta Vaani';
  font-weight: 500;
  font-size: 20px;

  color: #FFFFFF;
}

.opsibank form .row{
  margin-bottom: 0;
}
/* End Opsi Bank */
