body{
  background: rgba(196, 243, 196, 0.32);
}

.mt1{
  margin-top: 76px;
}

/* Deskripsi */
.deskripsi .responsive-img{
  border-radius: 30px;
}

.deskripsi .judul{
  height: 144px;
}

.deskripsi .judul p{
  font-family: 'Mukta Vaani';
  font-size: 30px;
  color: #123812;
}

.deskripsi .rincian{
  font-family: 'Mukta Vaani';
  font-size: 20px;
  color: #000000;
}

.deskripsi .rincian img{
  margin-top: 5px;
}
/* End Deskripsi */

/* Pemesanan */
.pemesanan .tengahin{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pemesanan .valign-wrapper{
  height: 56px;
}

.pemesanan .valign-wrapper p{
  font-family: 'Rambla';
  font-size: 25px;

  color: #000000;
}

.pemesanan .nama p{
  font-family: 'Rambla';
  font-size: 20px;

  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.pemesanan .textarea textarea:disabled{
  font-family: 'Rambla';
  font-size: 18px;

  color: #000000;
}

.pemesanan .bankingimg img{
  margin-top: 10px;
}

.pemesanan .banking p{
  font-family: 'Rambla';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;

  color: #000000;

  margin-top: 0;
  margin-bottom: 0;
}

.pemesanan .cekulang1{
  font-family: 'Righteous';
  font-size: 13px;

  color: #000000;
}

.pemesanan .cekulang2{
  margin-top: 13px;
}

.pemesanan .cekulang2 a{
  font-family: 'Mukta Vaani';
  font-size: 20px;
  text-transform: capitalize !important;

  color: #FFFFFF;
}

.pemesanan .cekulang2 .btn{
  background: rgba(21, 123, 18, 0.805827) !important;
}
/* End Pemesanan */
