body{
  background: rgba(196, 243, 196, 0.32) !important;
}

/* Pendaftaran */
.pendaftaran .word p{
  background: #78BA78;
  margin-top: 100px;
  font-family: 'Saira';
  font-size: 48px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
/* End Pendaftaran */

/* Form */
.formdata{

}
/* End Form */
