.kotak1{
  position: absolute;
  width: 1920px;
  height: 1080px;
  background: linear-gradient(270deg, #123812 4.03%, rgba(18, 56, 18, 0.971095) 11.26%, rgba(18, 56, 18, 0.915584) 23.96%, rgba(18, 56, 18, 0.866449) 37.37%, rgba(19, 78, 18, 0.824989) 54.48%, rgba(19, 88, 18, 0.805827) 68.06%, rgba(20, 101, 18, 0.805827) 79.7%, rgba(21, 123, 18, 0.805827) 91.34%);
}

.fontrighteous{
  font-family: 'Righteous';
}

.fontsaira{
  font-family: 'Saira';
}

.fontmali{
  font-family: 'Mali';
}

.navnav{
  background-color: transparent;
  box-shadow:none !important;
}

.navnav .nav-wrapper .brand-logo{
  margin-top: -30px;
}

.iconsearch{
  margin-top: 11px;
}

.cactus{
  margin-top: 100px;
}

.annas{
  color: #FFFFFF;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 85px;
  line-height: 134px;
  letter-spacing: 0.05em;
  text-indent: 2px;
}

.spesialis{
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  text-indent: 2px;
  color: rgba(254, 250, 250, 0.62);
}

.kotakdalamkaktus{
  position: absolute;
  width: 755px;
  height: 500px;
  top: 100px;
  margin-top: 100px;
  background: linear-gradient(270deg, rgba(152, 203, 152, 0.67) 5.1%, rgba(120, 186, 120, 0.458523) 39.08%, rgba(90, 170, 90, 0.257447) 61.95%, rgba(71, 161, 71, 0.135619) 81.46%, rgba(51, 150, 51, 0) 100%);
  border-radius: 0px 400px 0px 0px;

}

.kotakdalamkaktus img{
  height: 700px;
  transform: translate(50px,-150px);
}

.shopnow{
  background: #C4C4C4;
  border-radius: 100px;
  width: 181px;
  margin: 0 auto;
}

.shopnow a{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-indent: 2px;
  color: #000000;
}

.shopnow .lingkaranshopnow{
  background: #E0E414;
  border-radius: 100px;
}

.sosmed{
  margin-top: 200px;
  position: relative;
  height: 109px;
}

.sosmed .sosmed1{
  background: #6DBD3B;
}

.sosmed .sosmed2{
  z-index: 10;
  background: #154B0C;
}

.sosmed .sosmed3{
  background: #E0E414;
  border-radius: 0px 300px 0px 0px;
}

.sosmedicon{
  display: relative;
}

.sosmed1 .btnn i{
  font-size: 50px;
  color: #000000;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sosmed1 .btnn img{
  height: 30px;
}
